@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="row g-3">
    <div class="col-12">
        <DeviceList />
    </div>
    <div class="col-6">
        
    </div>
    <div class="col-6">
        
    </div>
</div>